:root {
  /* BGLOBAL */
  --section-width: 60rem;

  /* FONT-WEIGHTS */
  --w-light: 200;
  --w-medium: 400;
  --w-bold: 700;

  /* FONT SIZES */
  --font-xs: 1rem;
  --font-s: 1.2rem;
  --font-m: 1.8rem;
  --font-l: 2.4rem;
  --font-xl: 3.6rem;
  --font-xxl: 4.2rem;

  /* White spacing */
  --spacing-xs: 0.8rem;
  --spacing-s: 1.6rem;
  --spacing-m: 3rem;
  --spacing-l: 4.2rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 10rem;

  /* transition */
  --mainTransition: all 0.3s linear;

  /* GRID COLUMNS */
  --mobile-grid-columns: repeat(2, 1fr);
  --desktop-grid-columns: repeat(4, 1fr);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", system-ui;
}

html {
  font-size: 62.5%;
  color: white;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  padding-bottom: var(--spacing-xxl);
  width: 100%;
}

/* JS */
.removed-el {
  display: none !important;
}

/* reusable */
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-big {
  font-size: var(--font-m);
  margin-top: var(--spacing-s);
  padding: var(--spacing-s);
  border: none;
  font-weight: var(--w-bold);
}

.btn-big:hover {
  background-color: rgba(0, 0, 0, 0.279);
  color: white;
  cursor: pointer;
}

/* HELPERS */
#background-video {
  position: fixed;
  inset: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.game-title {
  color: white;
  text-align: center;
  margin-top: 6rem;
  font-size: 3rem;
}

/* INTRO SCREEN */
.game-rules {
  width: var(--section-width);
  margin-top: var(--spacing-xxl);

  h2 {
    font-size: var(--font-l);
  }
  p {
    font-size: var(--font-m);
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-top: var(--spacing-s);
  }
}

/* GAME SCREEN */
.game-container {
  width: var(--section-width);
  background-color: rgba(0, 0, 0, 0.279);
  margin-top: var(--spacing-m);
  display: grid;
  grid-template-columns: var(--desktop-grid-columns);
  gap: var(--spacing-s);
  align-items: stretch;
  justify-content: stretch;
}

.card {
  background-color: white;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--mainTransition);
}

.card:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}

.card-el {
  width: 80%;
}

/* STATUS */
.status-container {
  width: 30rem;
  background-color: rgba(0, 0, 0, 0.279);
  padding: var(--spacing-s);
  position: fixed;
  right: 2rem;
  top: 2rem;

  ul {
    list-style: none;
    li {
      margin-top: var(--spacing-s);
      font-size: var(--font-m);
    }
  }
}

/* MUSIC BUTTON */
#music-toggle {
  stroke: white;
}

.music-toggle-container {
  width: 6rem;
  position: fixed;
  left: 2rem;
  top: 2rem;
  display: inline-block;
}

.music-toggle-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: red;
  transform: translateY(-50%);
  transform: rotate(45deg);
  display: none;
}

.music-toggle-container.show::before {
  display: block;
}

#music-toggle:hover {
  cursor: pointer;
}

/* GAME OVER */
.game-over-container {
  width: var(--section-width);
  h1 {
    font-size: 12rem;
    color: red;
    text-align: center;
  }
  button {
    color: red;
  }
}

.back-to-start-btn {
  background-color: rgb(192, 192, 192);
}

/* LEVEL UP */
.win-container {
  width: var(--section-width);
  .next-lvl-btn {
    background-color: green;
  }
  h1 {
    font-size: 12rem;
    color: green;
    text-align: center;
  }
  .btn-container {
    display: flex;
    gap: var(--spacing-s);
    align-items: stretch;
    justify-content: center;
  }
}

/* GAME WIN */
.game-win-container {
  width: var(--section-width);
  h1 {
    font-size: 12rem;
    color: green;
    text-align: center;
    animation: wobble 1s ease-in-out infinite;
  }
  button {
    background-color: green;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(3deg);
  }
  45% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1300px) {
  .status-container {
    width: auto;
  }
  .status-container ul li {
    font-size: var(--font-s);
  }
}

@media screen and (max-width: 1150px) {
  .music-toggle-container {
    position: relative;
    margin: var(--spacing-s) 0;
  }

  .status-container {
    position: static;
    text-align: center;
    margin-top: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --section-width: 40rem;
  }

  .section h1 {
    font-size: var(--font-xxl);
  }

  .btn-container {
    flex-direction: column;
  }
  .game-title {
    font-size: var(--font-m);
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 275px) {
  html {
    font-size: 30%;
  }
}
